/* Zerando CSS */

/* HTML5 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote,
pre, a, abbr, address, cite, code, del,
dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr,
th, td {
	margin: 0;
	padding: 0;
	border: 0;
    outline-width: 0;
}

header, nav, footer, section, article, aside { display:block; }

html { /*overflow-x:hidden;*/ }

body, label, input, textarea { font:12px/1.2 Tahoma; }

body { color:#000; background:#fff; overflow-x:hidden; }

figure { display:inline-block; margin:0; padding:0; }

a { color:#fff; text-decoration:none; outline:none; cursor:pointer; }
a:hover { text-decoration:underline; -moz-transition: all 300ms ease-in-out 0s;}
a img { border:0; }

p { margin:5px 0; color:#655e5e; font-size:14px; text-align:justify; line-height:18px; }

ul { list-style:none;}
ul li { float:left; }

address { font-style:normal; }

/* titulo */
h1, h2, h3, h4, h5, h6, h7 { font-weight:bold; }
h1 { font-size:16px; color:#7c6c49; background:none!important}
h2 { font-size:16px; color:#452804; }

/* clear */
.clr { clear:both; }
.clearfix:after { display:block; clear:both; line-height:0; height:0; content:""; }

/* colunas */
.col-esq { float:left; }
.col-dir { float:right; }
.col-centro { margin:0 auto; display:inline-block; }

.article, .content {
	width:975px;
	margin:0 auto;
	display:table;
}

/*-------------------Wrapper-------------------*/
#wrapper {
	width:100%;
	display:block;
	background:url(../img/bg-presente.jpg) repeat top center;
}

/*-------------------Header-------------------*/
#header {
	width:100%;
	display:table;
}

#header .content {
	width:975px;
	height:250px;
}

#header .content .section-perfil {
	background:url(../img/box-perfil.png) no-repeat;
	width:351px;
	height:175px;
	float:right;
}

#header .content .section-perfil-logado {
	background:url(../img/box-perfil-logado.png) no-repeat;
}

#header .content .section-perfil .box-perfil {
	width:220px;
}

#header .content .section-perfil .nome-perfil {
	font-size: 16px;
	color: white;
	margin-top: 71px;
	margin-bottom:4px;
	margin-left: 31px;
	font-family: arial;
}

#header .content .section-perfil .link-sair {
	font-size: 14px;
	color: white;
	margin-left: 31px;
	font-family: arial;
	text-decoration:underline;
}

#header .content .section-perfil .figure {
	width:89px;
	height:69px;
	margin-right:37px;
	margin-top:42px;
	overflow:hidden;
}

#header .content .section-perfil .figure img {
	width:89px;
}

#header .content .section-presenteado {
	margin-left:222px;
	width:100px;
}

#header .content .section-presenteado h1 {
	font-size:24px;
	text-transform:uppercase;
	text-align:center;
	line-height:15px;
	margin-top:8px;
	color:#a61a1a;
        margin-left: -23px;
}

#header .content .section-presenteado h1 span {
	font-size:12px;
}

#header .content .section-presenteado figure {
	width:64px;
	height:64px;
	margin-left:16px;
	margin-top:2px;
	overflow:hidden;
	border:2px solid #a61a1a;
}

#header .content .section-presenteado figure img {
	width:64px;
}

#header .content .section-presenteado .nome {
	font-size: 14px;
	margin-left: 8px;
	margin-top:5px;
	width: 82px;
	text-align:center;
	font-weight:bold;
}

/*-------------------Section-Tipo-Presente-------------------*/
.section-tipo-presente {
	background:url(../img/caixa-tipo-presente.png) no-repeat;
	width:238px;
	height:137px;
	margin-top:130px;
}

/*-------------------Section-Presentes-------------------*/
.section-presentes {
	margin-top:140px;
}

.section-presentes .bg {
	background:url(../img/box-presentes.png) no-repeat;
	width:414px;
	height:484px;	
}

.section-presentes .bg-meus-presentes {
	background:url(../img/box-meus-presentes.png) no-repeat;
	width:414px;
	height:484px;	
}

.section-presentes .box-presentes {
	margin-top: 135px;
	float: left;
	margin-left: 90px;
	overflow:auto;
	width:235px;
	height:300px;
}

.section-presentes .box-presentes img {
	float:left;
	margin:4px;
}

.section-txt-info .bg-txt {
	background:url(../img/txt-info-presente.png) no-repeat;
	width:356px;
	height:139px;
	margin-left:50px;
	margin-top:30px;
}

.section-txt-info .bg-txt-clique {
	background:url(../img/txt-info-envio-presente.png) no-repeat;
	width:356px;
	height:139px;
	margin-left:50px;
	margin-top:60px;
}

.section-txt-info .bg-txt-amigo {
	background:url(../img/txt-info-amigo.png) no-repeat;
	width:356px;
	height:139px;
	margin-left:50px;
	margin-top:60px;
}

/*-------------------Section-Amigos-------------------*/
.section-amigos {
	margin-top:140px;
}

.section-amigos .bg {
	width:414px;
	height:484px;	
}

.section-amigos .bg-meus-amigos {
	background:url(../img/box-amigos.png) no-repeat;
	width:414px;
	height:484px;	
}

.section-amigos .box-amigos {
	margin-top: 135px;
	float: left;
	margin-left: 90px;
	overflow:auto;
	width:235px;
	height:300px;
}

.section-amigos .box-amigos figure {
	float:left;
	margin:4px;
	width:50px;
	height:50px;
	overflow:hidden;
}

.section-amigos .box-amigos figure img {
	width:50px;
}

/*-------------------Section-Caixa-Presente-------------------*/
.section-caixa-presente {
	background:url(../img/caixa-presente.png) no-repeat;
	width:438px;
	height: 244px;
	position: absolute;
	left: 50%;
	margin-top: 433px;
	margin-left: -174px
}

.section-caixa-presente-amigo {
	background:url(../img/caixa-presente.png) no-repeat;
	width:438px;
	height: 244px;
	margin-top:60px;
	margin-bottom:60px;
}

/*-------------------Section-Compartilhar-------------------*/
.section-compartilhar {
	margin-top:10px;
	margin-bottom:50px;
	overflow:hidden;
}

.section-compartilhar .box-compartilhar {
	margin-left:157px;
	margin-top:0px;
}

.section-compartilhar .box-compartilhar .ico {
	width:56px;
	height:60px;
	float:right;
	margin-left:5px;
	margin-right:5px;
}

.section-compartilhar .box-compartilhar .ico-facebook {
	background:url(../img/ico-facebook-menor.png) no-repeat;
}

.section-compartilhar .box-compartilhar .ico-twitter {
	background:url(../img/ico-twitter-menor.png) no-repeat;
}

.section-compartilhar .box-compartilhar .ico-google {
	background:url(../img/ico-google-menor.png) no-repeat;
}

/*-------------------Section-Mensagem-------------------*/
.section-mensagem {
	background:url(../img/box-mensagem.png) no-repeat;
	width:446px;
	height:392px;
}

.section-mensagem .form {
	margin-top:170px;
	margin-left:94px;
	float:left;
}

.section-mensagem .form .campo {
	width:260px;
	padding:2px;
}

.section-mensagem .form textarea {
	width:262px;
	height:70px;
	padding:2px;
}

.section-mensagem .form .bt-enviar {
	background:url(../img/bt-enviar-presente.png) no-repeat;
	width:190px;
	height:32px;
	float:right;
	margin-right:109px;
	margin-top:6px;
	border:none;
	cursor:pointer;
}

.section-mensagem .box-mensagem {
	margin-top:170px;
	margin-left:94px;
	float:left;
}

/*-------------------Footer-------------------*/
#footer {
	background:url(../img/bg-rodape.png) repeat;
	width:100%;
	height:54px;	
	margin:0 auto;
	display:table;
}

#footer .content {
	margin:0 auto;
	display:block;
	text-align:center;
	margin-top:35px;
	font-size:14px;
}
