php_value default_charset "utf-8"

RewriteEngine on

RewriteCond %{HTTP_HOST} ^chicletecombanana.com.br [NC]
RewriteRule ^(.*)$ http://www.chicletecombanana.com.br/$1 [L,R=301]

#RewriteRule ^([a-z0-9_-]+)?(\/[a-z0-9_-]+)?(\/[a-z0-9_-]+)?$ index.php?area=$1&dns=$2&pagina=$3

RewriteRule ^fale									fale.php



